<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form class="example-form">
        <h1>Mon profil</h1>
        <div class="form-group">
            <mat-form-field class="example-full-width" style="padding-right: 40px;">
                <mat-label>Prénom</mat-label>
                <input type="text" matInput value="Mariana">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Nom</mat-label>
                <input type="text" matInput value="Moura">
            </mat-form-field>

        </div>
        <div class="form-group1">

            <mat-form-field class="example-full-width" style="padding-right: 40px;">
                <mat-label>Rue</mat-label>
                <input type="text" matInput value="Rue Charles-Rosselet">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>N° Rue</mat-label>
                <input type="text" matInput value="10">
            </mat-form-field>
        </div>
        <div class="form-group1">

            <mat-form-field class="example-full-width" style="padding-right: 40px;">
                <mat-label>Code postal</mat-label>
                <input type="text" matInput value="1202">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Ville</mat-label>
                <input type="text" matInput value="Genève">
            </mat-form-field>
        </div>
        <div class="form-group1">

            <mat-form-field class="example-full-width" style="padding-right: 40px;">
                <mat-label>Email</mat-label>
                <input type="text" matInput value="mariana.moura@etu.unige.ch">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Téléphone</mat-label>
                <input type="text" matInput value="0795272558">
            </mat-form-field>
        </div>
        <div class="form-group1">
            <h5 style="font-size: 20px; padding-top: 20px; margin-left: 2px;">Pour modifier votre mot de passe, entrez l'actuel puis le nouveau :</h5>
        </div>

        <div class="form-group1">
            <mat-form-field class="example-full-width" style="padding-right: 40px;">
                <mat-label>Actuel mot de passe</mat-label>
                <input type="text" matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Nouveau mot de passe</mat-label>
                <input type="text" matInput>
            </mat-form-field>
        </div>
        <input class="btn" type="button" routerLink="/" name="" value="Enregistrer">

    </form>
</body>

</html>
