<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="login-box">

        <h1>Inscription</h1>
        <div class="textbox">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <input type="text" placeholder="Prénom" name="" value="">
        </div>

        <div class="textbox">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <input type="text" placeholder="Nom" name="" value="">
        </div>
        <div class="textbox">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <input type="tel" placeholder="Téléphone" name="" value="" pattern="[0-9]{3} [0-9]{3} [0-9]{2} [0-9]{2}" required>
        </div>
        <div class="textbox">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <input type="email" placeholder="Email" name="" value="">
        </div>

        <div class="textbox">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" placeholder="Password" name="" value="">
        </div>
        <input class="btn" type="button" name="" value="S'inscrire">

    </div>

</body>

</html>
