<img src="./../../assets/images/nature/listeArticle/robe-de-soirée-rouge.jpg " alt="">


<div *ngFor="let article of articles; let j = index">

    <div *ngIf="j==6">
        <ul style="list-style-type: none;">
            <li>
                <h1>{{article.nom_article}}</h1>
            </li>
            <li>N° référence: {{article.num_reference}} </li>
            <li>Catégorie: {{article.categorie}}</li>
            <li>Sous-catégorie: {{article.sous_categorie}}</li>
            <li>Couleur: {{article.couleur}}</li>
            <li>Prix: {{article.prix}}</li>
            <button mat-raised-button color="primary">Commander</button>
        </ul>
    </div>

</div>
<div>
    <h1>Avis</h1>
    <div *ngFor="let commentaire of commentaires">

        <li>{{commentaire.nom}} </li>
        <li>{{commentaire.prenom}}</li>
        <li>{{commentaire.commentaire}}</li>
        <li>{{commentaire.nb_etoile}}</li>
        <li>{{commentaire.date}}</li>

    </div>
</div>
