<img src="./../../assets/images/nature/listeArticle/robe-de-soirée-rouge.jpg " alt="">


<div *ngFor="let article of articles; let j = index">

    <div *ngIf="j==6">
        <ul style="list-style-type: none;">
            <li>
                <h1>{{article.nom_article}}</h1>
            </li>
            <li>N° référence: {{article.num_reference}} </li>
            <li>Catégorie: {{article.categorie}}</li>
            <li>Sous-catégorie: {{article.sous_categorie}}</li>
            <li>Couleur: {{article.couleur}}</li>
            <li>Prix: {{article.prix}}</li>
            <button mat-raised-button color="primary">Commander</button>
        </ul>
    </div>

</div>
<div>

    <h1>Avis</h1>
    <div class="App">
        <div class="flex-container">
            <ng-container *ngFor="let star of stars">
                <app-etoile [starId]="star" [rating]="hoverState || rating" (enter)="enter($event)" (leave)="leave()" (bigClick)="updateRating(star)">
                </app-etoile>
            </ng-container>
        </div>
    </div>


    <div>
        <textarea rows="8" cols="100"></textarea>
        <br>
        <button class="btn" mat-raised-button>Envoyer</button>
    </div>
    <div *ngFor="let commentaire of commentaires">

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    Commenté par {{commentaire.nom}} {{commentaire.prenom}}, le {{commentaire.date}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{commentaire.commentaire}}
                <br> Nombre d'étoiles: {{commentaire.nb_etoile}} /5
            </mat-card-content>

        </mat-card>



    </div>
</div>
