img {
    float: left;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    margin-bottom: 60px;
}

.btn {
    position: absolute;
    margin-left: 43%;
    margin-top: -2%;
}

.example-card {
    margin-top: 10px;
}

.titre {
    display: inline;
}

h1 {
    display: inline-block;
}

.App {
    display: inline-block;
    margin-left: 29%;
}

textarea {
    margin-bottom: 30px;
}
