<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">


</head>

<body>

    <div class="container">
        <div class="titre">MANIA&CO</div>
    </div>

    <div *ngIf="Bool==false; else Connecte">
        <div class="login">
            <button id="inscription" type="button" routerLink="/registration">S'inscrire</button>
            <button id="connexion" type="button" routerLink="/login">Connexion</button>
        </div>
    </div>
    <ng-template #Connecte>
        <div class="login">
            <button id="connexion" type="button" routerLink="/panier">Panier <mat-icon>shopping_cart</mat-icon></button>
            <button id="inscription" type="button" mat-button [matMenuTriggerFor]="profil">Profil <mat-icon>account_circle</mat-icon></button>
            <mat-menu #profil="matMenu">
                <button class="choix1" mat-menu-item routerLink="/profil">Mon profil</button>
                <button class="choix1" mat-menu-item routerLink="/commande">Mes commandes</button>
                <button class="choix1" mat-menu-item routerLink="/">Se déconnecter</button>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </mat-menu>
        </div>

    </ng-template>

    <button id="accueil" type="button" routerLink="/">Accueil</button>

    <button class="langue" mat-button [matMenuTriggerFor]="menu0">Langue</button>
    <mat-menu #menu0="matMenu">
        <button mat-menu-item>Allemand</button>
        <button mat-menu-item>Italien</button>
        <button mat-menu-item>Anglais</button>
    </mat-menu>

    <router-outlet></router-outlet>

</body>

</html>
