<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>


    <div *ngFor="let article of articles; let j = index">
        <div *ngFor="let image of images; let i = index">
            <div *ngIf="j==i">

                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>
                            {{article.nom_article}}
                            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                              <mat-icon >favorite</mat-icon>
                            </button>
                        </mat-card-title>

                    </mat-card-header>
                    <img class="clickable" routerLink="/article" mat-card-image src={{image}} alt="image">
                    <mat-card-content>
                        <ul style="list-style-type:none">
                            <li>Prix: {{article.prix}}CHF</li>
                        </ul>
                    </mat-card-content>

                </mat-card>


            </div>



        </div>



    </div>

    <router-outlet></router-outlet>

</body>

</html>
