
<div class="bg-modal">
  <div class="modal-content">
    <div class="form-group1">
      <h5 style="font-size: 20px; margin-left: 2px;">Pour modifier votre mot de passe, entrez l'actuel puis le nouveau :</h5>
  </div>

    <mat-form-field class="example-full-width" >
      <mat-label>Actuel mot de passe</mat-label>
      <input [type]="passwordType1" matInput #amdp="ngModel" [class.is-invalid]="amdp.invalid && amdp.touched" required class="form-control" name="mdp" [(ngModel)]="mdp.actuel_mdp">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <mat-label>Nouveau mot de passe</mat-label>
      <input [type]="passwordType" matInput #nmdp="ngModel" [class.is-invalid]="nmdp.invalid && nmdp.touched" required class="form-control" name="mdp" [(ngModel)]="mdp.nouveau_mdp">
  </mat-form-field>

  <button (click)="return()" class ="bou1"mat-button>Retour</button>
  <button (click)="save()" class="bou2"mat-button>Valider</button>

  <input (click)="togglePassword()"class="check1"type="checkbox">
  <input (click)="togglePassword1()"class="check2"type="checkbox">
  </div>

</div>
