<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styledheet" type="text/css" href="menu.component.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <img src="baniere.png" alt="baniere" width=100%>
        <div class="titre">MANIA&CO</div>
    </div>


    <div class="login">
        <button id="inscription" type="button">S'inscrire</button>
        <button id="connexion" type="button">Connexion</button>
    </div>


    <button class="langue" mat-button [matMenuTriggerFor]="menu0">Langue</button>
    <mat-menu #menu0="matMenu">
        <button mat-menu-item>Allemand</button>
        <button mat-menu-item>Italien</button>
        <button mat-menu-item>Anglais</button>
    </mat-menu>


    <div id="barremenu">
        <button class="menubtn" mat-button [matMenuTriggerFor]="menu1">Pull</button>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item>Sweatshirt</button>
            <button mat-menu-item>Polaire</button>
        </mat-menu>
        <button class="menubtn" mat-button [matMenuTriggerFor]="menu2">Jupe</button>
        <mat-menu #menu2="matMenu">
            <button mat-menu-item>Jupe plissée</button>
            <button mat-menu-item>Jupe crayon</button>
        </mat-menu>
        <button class="menubtn" mat-button [matMenuTriggerFor]="menu3">Top</button>
        <mat-menu #menu3="matMenu">
            <button mat-menu-item>Débardeur</button>
            <button mat-menu-item>Blouse</button>
        </mat-menu>
        <button class="menubtn" mat-button [matMenuTriggerFor]="menu4">Robe</button>
        <mat-menu #menu4="matMenu">
            <button mat-menu-item>Robe de soirée</button>
            <button mat-menu-item>Robe d'été</button>
        </mat-menu>
        <button class="menubtn" mat-button [matMenuTriggerFor]="menu5">Veste</button>
        <mat-menu #menu5="matMenu">
            <button mat-menu-item>Veste d'hiver</button>
            <button mat-menu-item>Veste légère</button>
        </mat-menu>
        <button class="menubtn" mat-button [matMenuTriggerFor]="menu6">Pantalon</button>
        <mat-menu #menu6="matMenu">
            <button mat-menu-item>Pantalon classique</button>
            <button mat-menu-item>Short</button>
        </mat-menu>
    </div>

    <ngbd-carousel-config></ngbd-carousel-config>

</body>

</html>
